node_modules
dist
.env
.vscode
.DS_Store
.idea
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.next
out
build
.cache
*.local
*.tsbuildinfo
public/build
public/_redirects
storybook-static
.webpack